body {
  background-color: rgb(240, 240, 240)
}

.logo-image {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

.align-center {
  text-align: center;
}

.services {
  text-align: center;
  padding-bottom: 50px;
}

#padding-bottom20px {
  padding-bottom: 20px;
}