body {
  background-color: #FFFAFA;
}

#layer1 {
    background-color: #FFE4E1;
    margin-left: -15px;
    margin-right: -15px;
}


#layer1-text {
    padding-left: 60px;
    padding-right: 60px;
}

.logo-custom {
  width: 100px;
  margin-left: 20px;
  margin-top: 10px; 
    margin-bottom: 10px;
    
}

.services {
  text-align: center;
  padding-bottom: 50px;
}

#padding-bottom20px {
  padding-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card {
    min-height: 700px;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 45%;
    margin-left: -200px;
    margin-right: -350px;
    position: relative;
    height:0;
}
.map-responsive iframe{
    left: 200px;
    top: 10px;
    height: 70%;
    width: 70%;
    position: absolute;
}

.angular-google-map-container {
position: absolute;
right: 0;
left: 0;
}

.carousel-custom {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin: auto;
    width: 100%; 
}

#fixed-button {
    position: fixed;
    bottom: 50px;
    right: 25px;
    z-index: 99;
    background-color: #48D1CC;
}

.carousel-spacing {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
}

.icon {
    object-fit: cover;
    transform: scale(0.5)
}

